@page "/results"
@inject GameService Game
@inject NavigationManager Nav

<p>Day @Game.Day</p>

@foreach (string report in Reports)
{
    <p>report</p>
}

<button @onclick="Submit">Next Day</button>

@code {
    protected List<string> Reports { get; set; }

    protected override void OnInitialized()
    {
        Reports = Game.GetReports();

        base.OnInitialized();
    }

    private void Submit()
    {
        Game.EndRound();
        Nav.NavigateTo("/selectagents")
    }
}
