@page "/selecttarget/{agentType}"
@inject GameService Game

<div class="row justify-content-center">
    <div class="col center-contents-horizontal">
        <h2>Day @Game.Round</h2>
        <p>Select the @Agent.Name's target.</p>

        <TwoColumnGrid Items="Game.Agents.ShuffledList">
            <ItemTemplate>
                <button @onclick="() => SetTarget(context)" class="btn btn-block btn-dark" disabled="@(!context.IsAlive)">@context.Codename</button>
            </ItemTemplate>
        </TwoColumnGrid>

        <div class="row justify-content-center">
            <div class="col">
                <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string AgentType { get; set; }

    protected Agent Agent { get; set; }

    protected override void OnParametersSet()
    {
        Agent = Game.Agents[AgentType];
    }

    protected void SetTarget(Agent target)
    {
        if (target.IsAlive)
        {
            Agent.IsActing = true;
            Agent.Target = target;
            Nav.NavigateTo("/selectagents");
        }
    }

    protected void Cancel()
    {
        Nav.NavigateTo("/selectagents");
    }
}
