@typeparam TItem

@for (int i = 0; i < Items.Count; i += 2)
{
    <div class="row justify-content-center">
        @for (int j = i; j <= i + 1; j++)
        {
            <div class="col-6 col-sm-5 col-md-3 col-lg-2">
                @if (j < Items.Count)
                {
                    @ItemTemplate(Items[j]);
                }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}
